# Ignore all *.cpp files exluded the exercices
*/*
!*/exercise/*.cpp

# Ignore makefiles for listngs created by Prata. Not include the makefiles for exercises
*/makefile
*/exercise/makefile

# Ignore all compiled programms and drafts
*main*
*brudnopis*
